.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.wrapper {
  display: flex;
  min-height: 68vh;
  flex-direction: column;
  justify-content: space-between;
}

.creator {
  margin: 2rem 0 1rem;
  text-align: center;

  span {
    display: inline-block;
    margin: 0 .2rem;
    animation: love infinite 2s ease-out;
  }
}

@keyframes love {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.2);
  }
}