.container {
  display: flex;
  max-width: 50rem;
  height: 100vh;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  min-height: 68vh;
  flex-direction: column;
  justify-content: space-between;
}

.creator {
  margin: 2rem 0 1rem;
  text-align: center;

  span {
    display: inline-block;
    margin: 0 .2rem;
    animation: love infinite 2s ease-out;
  }
}

@keyframes love {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.2);
  }
}